.button {
  position: fixed;
  top: 30px;
  right: 30px;
}

.image {
  border-radius: 50%;

  width: 50px;
  height: 50px;

  object-fit: cover;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -5px;
  right: -5px;

  width: 20px;
  height: 20px;

  font-size: 12px;
  font-weight: 700;
  color: white;

  border-radius: 50%;

  background-color: red;
}