.modal {
  position: absolute;
  top: 20%;
  left: 50%;

  padding: 30px;
  margin-bottom: 10%;

  width: 70%;

  transform: translateX(-50%);

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;
}

.close::before,
.close::after {
  content: '';

  position: absolute;
  top: 0;
  left: 50%;
  
  width: 2px;
  height: 20px;

  background-color: #aaa;
}

.close:before {
  top: 1px;

  transform: rotate(45deg) translateX(-50%);
}
.close:after {
  transform: rotate(-45deg) translateX(-50%);
}