button {
  padding: 0;
  margin: 0;

  cursor: pointer;

  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  vertical-align: baseline;

  background: transparent;

  border: 0;

  appearance: none;

  outline: none;
}